<template>
    <b-container class="pt-4">
        <router-link to="/ia/karaoke/stats" class="float-md-left mb-2"><b-button>Statistics</b-button></router-link>
        <h1 class="pt-3 pt-md-0">Karaoke history</h1>
        <div v-for="stream of data" :key="stream.id" class="table-responsive">
            <table class="table fix-color">
                <thead>
                    <tr>
                        <th :colspan="99">
                            <a :href="`https://youtu.be/${stream.id}`" v-if="!stream.privated">
                                {{ new Date(stream.timestamp).toLocaleDateString() }}: {{ stream.name }}
                            </a>
                            <span v-else>
                                {{ new Date(stream.timestamp).toLocaleDateString() }}: {{ stream.name }} (Privated)
                            </span>
                        </th>
                    </tr>
                    <tr v-if="stream.songs">
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Artist</th>
                        <th v-if="stream.has_timestamps" scope="col">Timestamp</th>
                        <th v-if="stream.has_notes" scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(song, index) in stream.songs" :key="`${stream.id}-${song.name}-${song.timestamp}`">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ song.name }}</td>
                        <td>{{ song.artist }}</td>
                        <td v-if="stream.has_timestamps">
                            <a v-if="song.timestamp && !stream.privated" :href="`https://youtu.be/${stream.id}?t=${song.timestamp}`">{{ song.timestamp }}</a>
                            <span v-else-if="song.timestamp">{{ song.timestamp }}</span>
                        </td>
                        <td v-if="stream.has_notes">{{ song.note }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </b-container>
</template>
<script>
    import {
        BButton,
        BContainer,
    } from "bootstrap-vue/src";
    import _data from '@/data/karaoke.yaml?stream';

    const data = _data.slice().reverse();

    export default {
        components: {
            BButton,
            BContainer,
        },
        data: () => ({
            data,
        }),
    }
</script>
<style lang="scss" scoped>
    .songlist tr:nth-child(1) th {
        text-align: center;
    }
</style>
