<template>
    <b-container class="pt-4">
        <h1>Covers &amp; Original Songs</h1>
        <b-row v-for="entry of data" :key="entry.id" class="entry flex-column d-flex flex-md-row pb-3">
            <b-col class="image col-md-auto mw-100">
                <img :src="primaryImg(entry)" :srcset="srcset(entry)" class="mw-100" loading="lazy"/>
            </b-col>
            <b-col class="col flex-grow-1 text-center text-md-left">
                <p>
                    {{ entry.song.artist.name }} - <b>{{ entry.song.title }}</b>
                    ({{ entry.type.slice(0, 1).toUpperCase() }}{{ entry.type.slice(1) }})
                </p>
                <p>
                    Released: {{ entry.date }}
                </p>
                <p v-if="entry.appearances.length > 1" class="text-wrap">
                    Featuring:
                    <span v-for="(appearance, idx) in entry.appearances"
                         :key="`${entry.id}-${appearance.name}`"
                         :ref="appearance.name"
                    >
                        <span class="text-nowrap">{{ appearance.name }}</span>
                        <span v-if="appearance.graduated" title="Graduated">(<font-awesome-icon :icon="faGraduationCap"></font-awesome-icon>)</span>
                        <span v-if="idx < entry.appearances.length - 1">, </span>
                    </span>
                </p>
                <p v-if="entry.links">
                    Stream:
                    <span v-for="source in Object.entries(entry.links)" :key="`${entry.id}-${source[0]}`">
                        <a :href="source[1]" target="_blank" rel="noopener noreferrer">
                            <font-awesome-icon v-if="source[0] in logo" :icon="logo[source[0]]" size="1x"/>
                            {{ config.external_links[source[0]].name }}
                        </a>
                    </span>
                </p>

            </b-col>
        </b-row>
        <b-tooltip v-for="person in config.people"
                   :key="`people-${person.name}-tt`"
                   :target="() => $refs[person.name]"
                   placement="bottom" triggers="hover"
        >
            :)
            <span v-if="person.links">
                <span v-for="source in Object.entries(person.links)" :key="`people-${person.name}-${source[0]}`">
                    <a :href="source[1]" target="_blank" rel="noopener noreferrer">
                        <font-awesome-icon v-if="source[0] in logo" :icon="logo[source[0]]" size="1x"/>
                        {{ config.external_links[source[0]].name }}
                    </a>
                </span>
            </span>
        </b-tooltip>
    </b-container>
</template>
<script>
    import {
        faGraduationCap,
        faPlay,
    } from '@fortawesome/free-solid-svg-icons';
    import {
        faFacebook,
        faTwitter,
        faSpotify,
        faYoutube,
    } from '@fortawesome/free-brands-svg-icons';
    import {
        BCol,
        BContainer,
        BRow,
        BTooltip,
    } from "bootstrap-vue/src";
    import _data from '@/data/songs.yaml?stream';

    function resolveLinks(entry) {
        if (!('links' in entry)) {
            return [];
        }

        let links = {...entry.links};
        Object.keys(entry.links).forEach(provider => {
            const _provider = config.external_links[provider];
            if (!_provider || !_provider.link) {
                delete links[provider];
            }
            links[provider] = _provider.link.replace('%s', links[provider]);
        });
        return links
    }
    function resolveImg(stream) {
        if (stream.img) {
            return [
                [require(`@/assets/cover-${stream.img}?max-width=200`), '200w'],
                [require(`@/assets/cover-${stream.img}?max-width=600`), '600w'],
                [require(`@/assets/cover-${stream.img}?max-width=800`), '1200w'],
                [require(`@/assets/cover-${stream.img}?max-width=1200`), '1200w'],
            ];
        }

        for (let link_name in stream.links) {
            if (!(link_name in config.external_links)) {
                continue;
            }

            let link = config.external_links[link_name];
            if (!link || !link.icon) {
                continue;
            }

            return [
                [link.icon.full.replace('%s', stream.links[link_name])],
            ];
        }

        return [];
    }
    function resolvePeople(list) {
        return list.map(name => {
            if (name in config.people) {
                return {
                    ...config.people[name],
                    links: resolveLinks(config.people[name]),
                }
            }
            return {
                name,
            };
        })
    }

    const config = _data[0];
    const data = _data.slice(1).reverse().map(entry => ({
        ...entry,
        img: resolveImg(entry),
        appearances: resolvePeople(entry.appearances),
        links: resolveLinks(entry),
        song: {
            ...Object.entries(entry.song)
                .filter(v => v[0] !== 'title')
                .map(v => [v[0], resolvePeople([v[1]])[0]])
                .reduce((res, v) => {
                    res[v[0]] = v[1];
                    return res;
                }, {}),
            title: entry.song.title,
        },
    }))

    export default {
        components: {
            BCol,
            BContainer,
            BRow,
            BTooltip,
        },
        data: () => ({
            config,
            data,
            faGraduationCap,
            faPlay,
            logo: {
                facebook: faFacebook,
                spotify_track: faSpotify,
                twitter: faTwitter,
                youtube: faYoutube,
                youtube_channel: faYoutube,
            },
        }),
        methods: {
            primaryImg(stream) {
                let images = stream.img;
                if (!images.length) {
                    return null;
                }
                return images[0][0];
            },
            srcset(stream) {
                return stream.img.map(x => x.join(' ')).join(', ');
            },
        },
    }
</script>
<style lang="scss" scoped>
    @import "../base";

    .entry .image {
        img {
            max-height: 250px;
        }
        @include media-breakpoint-up(sm) {
            width: 25vw;
        }
    }
</style>
