<template>
    <div class="">
        <a :download="filename" :href="filepath"><font-awesome-icon :icon="faDownload" size="2x" /></a><br/>
        {{ sound.name }}
    </div>
</template>
<script>
    import { faDownload } from '@fortawesome/free-solid-svg-icons';

    export default {
        props: {
            sound: {
                type: Object,
                required: true,
            },
        },
        data: () => ({
            faDownload,
        }),
        computed: {
            filename() {
                const segments = this.sound.filename.split('/');
                return segments[segments.length - 1];
            },
            filepath() {
                return `/sounds/${this.filename}`;
            },
        },
    }
</script>
